<div class="about">

  <h1>TERRA LABORIS</h1>
  <h2>Centre de recherches en droit social</h2>

  <p> 
    <br>Bienvenue sur le site de l’asbl Terra Laboris.</br>
    <br>L’asbl est un centre de recherche en droit social (pour en savoir plus sur l’asbl elle-même, consultez la rubrique « à propos de Terra Laboris »).</br>
    <br>La banque de données constitue la principale source d’information sur le site de l’asbl. Elle reprend diverses sources sélectionnées dans le domaine de la sécurité sociale et du droit du travail. Les données sont classées par thème (concept). Les thèmes couvrent en général plusieurs matières voisines.
    Un passage sur les onglets de gauche présente les sous-rubriques ainsi que celles qui leur sont attachées. Un simple clic donne un accès direct à la page correspondante.
    Les rubriques en jaune concernent le droit du travail, celles en bleu la sécurité sociale et celles en vert sont un mixte.
    La banque de données est régulièrement augmentée.</br>
    <br>Bonne visite de notre site!</br>
  </p>

</div>